body{
    margin: 0;
    border: 0;
    font-family: sans-serif;
}
header{
    min-height: 70px;
    background-color: #14161a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
    align-items: center;
}
.logo{
    display: flex;
}

.logo img{
    height: 50px;
    margin-left: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px; 
}

nav a:hover{
    color: aquamarine;
}

/*Diseño response */

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

    
